<link rel="stylesheet" href="/stylesheets/confirmation.css">

<div class="infobox">
    <%= trip %> 
    <form action="/print/<%= trip.bookingnumber %>?_method=PUT" method="POST">
        <button type="submit">Print</button>
    </form>
</div>


<div class="toprow">
    <div class="tripiata">
        <span class="trip">Trip</span>
        <img class="iata" src="/images/iata.png">
        <div class="bookingnumber">
            <span class="greytext">Booking No. <%= trip.bookingnumber %> </span> 
            <br> 
            <span class="greytext">Booked on: <%= trip.bookingdate %></span> 
        </div>
    </div>
</div>
<h2>Itinerary</h2>
<h3>(Airline Booking Reference: <%= trip.airlinereference %>)</h3>
<p>We advise you print out your itinerary and take it with you to ensure your trip goes as smoothly as possible.</p>
<hr>
<div class="ipassenger">
    <div class="ipassengerleft">
        <h3>Passengers</h3>
        <span class="greytext">Name</span>
        <br>
        <span> <%= trip.lastname %>/<%= trip.firstname %>  </span>        
    </div>
    <div class="ipassengerright">
        <br>
        <br>
        <br>
        <span class="greytext">Ticket Number</span>
        <br>
        <%= trip.airlinereference %>
    </div>
</div>
<br>
<hr>
<h3>Flight Details</h3>
<div class="detailbox">
    <p class="firstrow">
        <span class="firstrowa">Depart/Arrive Time</span>
        <span class="firstrowb">Departure/Arrival Airport</span>
        <span class="firstrowc">Flight No.</span>
        <span class="firstrowd">Class</span>
    </p>
    <div class="secondsection">
        <div class="departarrivetime">
            <span><%= trip.departtime %>, <%= trip.departdate %> </span>
            <br>
            <span> <%= trip.arrivetime %>, <%= trip.arrivedate %></span>
        </div>
        <div class="departarriveairport">
            <span><%= trip.departurecity %> (<%= trip.departurecode %>) </span>
            <br>
            <span><%= trip.arrivalcity %> (<%= trip.arrivalcode %>) </span>
        </div>
        <div class="flightnum">
            <span><%= trip.airline %>  <%= trip.flightnumber %> </span>            
        </div>
        <div class="class">
            <span>Economy</span>
        </div>
    
    </div>
    <br>
    <span>Baggage Allowance</span>
    <br>
    <br>
    <span class="greytext">[Checked Baggage]</span> No free baggage allowance. Please contact the airline for detailed baggage regulations.
    <br>
    <span class="greytext">[Carry-on Baggage]</span> 1 piece(s) per person. 7kg each piece. Each piece cannot exceed 56*36*23CM in size.
</div>
<br>
<hr>
<h3>Important Information</h3>
<ul>
    <li>
        1. Passengers should arrive at the airport at least 2 hours before departure to ensure they have enough time to check in. During various procedures in the airport, passengers must provide the valid ID used to purchase their ticket. Their boarding pass or itinerary may also be required.
    </li>
    <br>
    <li>
        2. Please note that tickets must be used in the sequence set out in the itinerary, otherwise airlines reserve the right to refuse carriage. Trip bears no responsibility if passengers are unable to board a plane due to non complying with airline policies and regulations.
    </li>
</ul>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="toprow">
    <div class="tripiata">
        <span class="trip">Trip</span>
        <img class="iata" src="/images/iata.png">
        <div class="bookingnumber">
            <span class="greytext">Booking No. <%= trip.bookingnumber %></span>
            <br> 
            <span class="greytext">Booked on: <%= trip.bookingdate %></span>
        </div>
    </div>
</div>
<h2>E-Receipt</h2>
<h3>(Airline Booking Reference: <%= trip.airlinereference %>)</h3>
<div class="sealportion">
    <div class="leftofseal">
        <div class="inlinetop">
            <div class="topleftofseal">
                Total amount
                <br>
                <br>
                For payment of
                <br>
                <br>
                Payment method
            </div>
            <div class="toprightofseal">
                Total <span class="totalprice">$<%= Math.round(trip.price*1.08 * 100) / 100 %><span class="greytext"> (taxes and fees included)</span></span>
                <br>
                <br>
                Flights
                <br>
                <br>
                Visa credit card
            </div>
        </div>
        <p>
            <span class="greytext">Payment Received: <%= trip.bookingdate %></span>
            <br>
            <br>
            <span class="greytext">E-Receipt Issued: <%= trip.bookingdate %></span>
        </p>
    </div>
    <img class="seal" src="/images/seal.jpg">
</div>
<hr>
<h3>Passenger</h3>
<div class="epassenger">
    <div class="epassengerleft">
        <span class="greytext">Name</span>
        <br>
        <br>
        <%= trip.lastname %>/<%= trip.firstname %>
    </div>
    <div class="epassengerright">
        <span class="greytext">Ticket Number</span>
        <br>
        <br>
        <%= trip.airlinereference %>
    </div>
</div>
<br>
<hr>
<h3>Flights</h3>
<div class="flights">
    <div class="flightsleft">
        <span class="greytext">Date</span>
        <br>
        <br>
        <%= trip.departdate %>
    </div>
    <div class="flightscenter">
        <span class="greytext">Route</span>
        <br>
        <br>
        <%= trip.departurecity %> - <%= trip.arrivalcity %>
    </div>
    <div class="flightsright">
        <span class="greytext">Class</span>
        <br>
        <br>
        Economy class
    </div>
</div>
<br>
<hr>
<h3>Payment Summary</h3>
<div class="summary">
    <div class="summaryleft">
        <span class="greytext">Item</span>
        <br>
        <br>
        Fare
        <br>
        <br>
        Taxes & fees
        <br>
        <br>
        Total
    </div>
    <div class="summaryright">
        <span class="greytext">Amount</span>
        <br>
        <br>
        $<%= Math.round(trip.price * 100) / 100 %>
        <br>
        <br>
        $<%= Math.round(trip.price*0.08 * 100) / 100 %>
        <br>
        <br>
        $<%= Math.round(trip.price*1.08 * 100) / 100 %>
    </div>
</div>
<br>
<br>
<p class="greytext" class="preceipt">
    There may be a slight discrepancy between the sum of the indiviual items and the total amount due to conversions at the exchange rate. The total amount will always prevail.
</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
