<a href="/passenger?departure=<%= query.departure %>&arrival=<%= query.arrival %>&flightnumber=&departtime=&arrivetime=">
    <div id="opt1" class="options">
        <%= query.departure %>
        <%= query.arrival %>
        <%= query.date %>
        <%= flightnumber %>
        <%= departtime %>
        <%= arrivetime %>
    </div>
</a>
<a href="/passenger?departure=<%= query.departure %>&arrival=<%= query.arrival %>&flightnumber=&departtime=&arrivetime=">
    <div id="opt2" class="options">
        <%= query.departure %>
        <%= query.arrival %>
        <%= query.date %>
        <%= flightnumber %>
        <%= departtime %>
        <%= arrivetime %>
    </div>
</a>
<a href="/passenger?departure=<%= query.departure %>&arrival=<%= query.arrival %>&flightnumber=&departtime=&arrivetime=">
    <div id="opt3" class="options">
        <%= query.departure %>
        <%= query.arrival %>
        <%= query.date %>
        <%= flightnumber %>
        <%= departtime %>
        <%= arrivetime %>
    </div>
</a>
<a href="/passenger?departure=<%= query.departure %>&arrival=<%= query.arrival %>&flightnumber=&departtime=&arrivetime=">
    <div id="opt4" class="options">
        <%= query.departure %>
        <%= query.arrival %>
        <%= query.date %>
        <%= flightnumber %>
        <%= departtime %>
        <%= arrivetime %>
    </div>
</a>
<a href="/passenger?departure=<%= query.departure %>&arrival=<%= query.arrival %>&flightnumber=&departtime=&arrivetime=">
    <div id="opt5" class="options">
        <%= query.departure %>
        <%= query.arrival %>
        <%= query.date %>
        <%= departtime %>
        <%= arrivetime %>
    </div>
</a>