<link rel="stylesheet" href="/stylesheets/searchresults.css">
<div class="infobox">
<% for( let i = 0; i < resultsLength; i++ ) { %>
<a href="/passenger?departurecode=<%= departurecode %>&departurecity=<%= departurecity[i] %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity[i] %>&departdate=<%= departdate %>&flightnumber=<%= flightnumber[i] %>&departtime=<%= departtime[i] %>&arrivetime=<%= arrivetime[i] %>&price=<%= price[i] %> ">
    <div id=<% `opt${i}` %>   class="options">
        <%= departurecode %>
        <%= departurecity[i] %>
        <%= arrivalcode %>
        <%= arrivalcity[i] %>
        <%= departdate %>
        <%= departtime[i] %> 
        <%= arrivetime[i] %> 
        <%= flightnumber[i] %> 
        <%= price[i] %> 
    </div>
</a>

<%    } %>
</div>


