<a href="/passenger?departurecode=<%= departurecode %>departurecity=<%= departurecity %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity %>&flightnumber=<%= flightnumber %>&departtime=<%= departtime %> &arrivetime=<%= arrivetime %> ">
    <div id="opt1" class="options">
        <%= departurecode %>
        <%= departurecity %>
        <%= arrivalcode %>
        <%= arrivalcity %>
        <%= departdate %>
        <%= departtime %> 
        <%= arrivetime %> 
        <%= flightnumber %> 
    </div>
</a>
<a href="/passenger?departurecode=<%= departurecode %>departurecity=<%= departurecity %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity %>&flightnumber=<%= flightnumber %>&departtime=<%= departtime %> &arrivetime=<%= arrivetime %> ">
    <div id="opt1" class="options">
        <%= departurecode %>
        <%= departurecity %>
        <%= arrivalcode %>
        <%= arrivalcity %>
        <%= departdate %>
        <%= departtime %> 
        <%= arrivetime %> 
        <%= flightnumber %> 
    </div>
</a>
<a href="/passenger?departurecode=<%= departurecode %>departurecity=<%= departurecity %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity %>&flightnumber=<%= flightnumber %>&departtime=<%= departtime %> &arrivetime=<%= arrivetime %> ">
    <div id="opt1" class="options">
        <%= departurecode %>
        <%= departurecity %>
        <%= arrivalcode %>
        <%= arrivalcity %>
        <%= departdate %>
        <%= departtime %> 
        <%= arrivetime %> 
        <%= flightnumber %> 
    </div>
</a>
<a href="/passenger?departurecode=<%= departurecode %>departurecity=<%= departurecity %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity %>&flightnumber=<%= flightnumber %>&departtime=<%= departtime %> &arrivetime=<%= arrivetime %> ">
    <div id="opt1" class="options">
        <%= departurecode %>
        <%= departurecity %>
        <%= arrivalcode %>
        <%= arrivalcity %>
        <%= departdate %>
        <%= departtime %> 
        <%= arrivetime %> 
        <%= flightnumber %> 
    </div>
</a>
<a href="/passenger?departurecode=<%= departurecode %>departurecity=<%= departurecity %>&arrivalcode=<%= arrivalcode %>&arrivalcity=<%= arrivalcity %>&flightnumber=<%= flightnumber %>&departtime=<%= departtime %> &arrivetime=<%= arrivetime %> ">
    <div id="opt1" class="options">
        <%= departurecode %>
        <%= departurecity %>
        <%= arrivalcode %>
        <%= arrivalcity %>
        <%= departdate %>
        <%= departtime %> 
        <%= arrivetime %> 
        <%= flightnumber %> 
    </div>
</a>