<link rel="stylesheet" href="/stylesheets/passenger.css">

<div class="infobox">
    <h2>Passenger</h2>
    <form action="/payment" method="POST">
        <div>
            <input type="text" name="firstname" placeholder="First name"  id="firstname" required>
        </div>   
        <div>
            <input type="text"name="lastname" placeholder="Last name" id="lastname" required>
        </div>
        <select name="gender" id="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <div>
            <input type="email" name="email" placeholder="Email" id="email">
        </div> 
        <div>
            <input type="text" name="departurecode" value=<%= query.departurecode %>>
        </div>
        <div>
            <input type="text" name="departurecity" value=<%= query.departurecity %>>
        </div>
        <div>
            <input type="text" name="arrivalcode" value=<%= query.arrivalcode %>>
        </div>
        <div>
            <input type="text" name="arrivalcity" value=<%= query.arrivalcity %>>
        </div>
        <div>
            <input type="text" name="departdate" value=<%= query.departdate %>>
        </div>
        <div>
            <input type="text" name="flightnumber" value=<%= query.flightnumber %>>
        </div>
        <div>
            <input type="text" name="departtime" value=<%= query.departtime %>>
        </div>
        <div>
            <input type="text" name="arrivetime" value=<%= query.arrivetime %>>
        </div>
        <div>
            <input type="text" name="price" value=<%= query.price %>>
        </div>
        <button type="submit">Continue</button>
    </form>
</div>